@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FF9D9D;
}

/*---Menu---*/
.Menu{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Dancing Script", sans-serif;
    padding: 10px;
}

/*---Logo---*/
.Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.Logo img{
    width: 50px;
    height: 50px;
}

.Logo h3{
    font-size: 1.9rem;
    font-weight: 400;
}

/*---Icone---*/
.Icone{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7b7b;
    border-radius: 50%;
    font-size: 1.6rem;
    color: #ffffff;
}

/*---Banner---*/
.Banner{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Dancing Script", sans-serif;
    background-image: url(./Img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*---Titulo---*/
.Titulo{
    width: 100%;
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

.Titulo h2{
    font-size: 2rem;
    font-weight: 400;
}

/*---Cards---*/
.Sorvetes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.Card{
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.Card img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.Card h3, p{
    font-weight: 400;
    margin-bottom: 5px;
}

.Card button{
    width: 100%;
    height: 50px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF9D9D;
    transition-duration: 0.5s;
}

.Card button:hover{
    background-color: #ff7b7b;
}

/*---Copyright---*/
.Copyright{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff7b7b;
    font-family: "Poppins", sans-serif;
    padding: 0px 30px;
}

.Copyright h3{
    font-weight: 400;
}

/*---Redes---*/
.Redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.Icones{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 1.4rem;
}

/*---Responsividade---*/
@media screen and (max-width: 768px) {
    .Banner{
        height: 30vh;
    }

    .Banner h1{
        font-size: 4rem;
    }
    
    .Card{
        width: 90%;
    }
}